.profiles-container ul {
  list-style-position: inside;
  list-style-type: none;
}

.profiles-container h3,
p {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.profiles-container ul li {
  margin-bottom: 3rem;
}
